body {
  font-family: 'Montserrat', sans-serif;
}


/*header*/
header{
height: 100vh;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),url("images/header-img.jpeg") no-repeat center center/cover;
}
/*end of header*/
/*navbar*/
/*end of navbar*/

/*banner*/

.banner{

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;

}

.banner-header{
  animation: anim;
  animation-duration: 2s;
}
.banner-par{
  animation: anim;
  animation-duration: 4s;

}
@keyframes anim {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{

    transform: translateX(0);
    opacity: 1;
  }
}
/*end of banner*/






.nav-menu{

  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5));
  padding: 30px;
}
.menu-items{

  font-size: 13px;
  color: white;
  transition: .5s;
}

.menu-items:hover{

  color: #2acbd0;
}
.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;


}

.mission{


  background: #1f1d1d;
}

.underline{
  width: 150px;
  border:3px solid white;
  margin:auto;
}
/*keyleft*/
.keyleft{

  animation-name: keyleft;
  animation-duration: 3s;
}

/*Textright*/
.Textright{

  animation-name:Textright;
  animation-duration: 3s;
}



/*animation for camera*/

@keyframes keyleft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {

    transform: translateX(0);
    opacity: 1;
  }
}


/*  animation for text */
@keyframes Textright {
0%{
  transform: translateX(30px);
  opacity: 0;
}
100%{

  transform: translateX(0);
  opacity: 1;
}
}




h5{

  position: absolute;
  top:70%;
  right: 0;
  background: #1f1d1d;
  opacity: .5;
}

.active-item{

  color: orangered!important;
}
.customers{
background: #1e1f1e;


}
.carousel-inner h5{

  position: unset;
  opacity: 1;
  background: none;
}








#price h5{
  position: unset;
}


.card-1,.card-2,.card-3{

  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.6)),
          url("./images/pricing-card-bg.jpeg") center no-repeat;
  background-size: cover;
box-shadow: 7px 10px 15px #3d523d;
  max-width: 400px;

}

.card-list{

  border-bottom: 1px solid white;
  width: 55%;
  margin: auto;
}
.price-button{

  background-color: #d24816;
  width: 130px;
  border-radius:25px;
  box-shadow: 5px 7px 20px #1f1d1d;
  transition: all .5s;
}
.price-button:hover{
  background-color: #f14707;
   transform: translateY(-3px);



}

.moveFromRight{

  animation-name: moveFromRight;
  animation-duration: 2s;
}
.moveFromLeft{

  animation-name: moveFromLeft;
  animation-duration: 2s;
}

.moveFromBottom{

  animation-name: moveFromBottom;
  animation-duration: 2s;
}
@keyframes moveFromRight {

  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveFromLeft {

  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }

}
@keyframes moveFromBottom {

  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/*contact */


.contact{

  background:linear-gradient(105deg,
  rgba(0,0,0,.1)0%,
  rgba(0,0,0,1)50%,
  transparent 50%),
  url("./images/form-img.jpeg") center no-repeat;
  background-size: cover;
  color:white;
}


@media (max-width: 992px){
  .contact{
    background:linear-gradient(  rgba(0,0,0,.5)0%,
    rgba(0,0,0,1)50%);
    width: 95%;
    margin: auto;

  }

}
/*end of contact */


/*footer*/

.footer-link{

  color:white;
}

/*End of foooter*/