body {
  font-family: 'Montserrat', sans-serif;
}


/*header*/
header{
height: 100vh;
  background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),url("images/header-img.jpeg") no-repeat center center/cover;
}
/*end of header*/
/*navbar*/
/*end of navbar*/

/*banner*/

.banner{

  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;

}

.banner-header{
  animation: anim;
  animation-duration: 2s;
}
.banner-par{
  animation: anim;
  animation-duration: 4s;

}
@keyframes anim {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{

    transform: translateX(0);
    opacity: 1;
  }
}
/*end of banner*/






.nav-menu{

  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.5));
  padding: 30px;
}
.menu-items{

  font-size: 13px;
  color: white;
  transition: .5s;
}

.menu-items:hover{

  color: #2acbd0;
}
.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;


}

.mission{


  background: #1f1d1d;
}

.underline{
  width: 150px;
  border:3px solid white;
  margin:auto;
}
/*keyleft*/
.keyleft{

  animation-name: keyleft;
  animation-duration: 3s;
}

/*Textright*/
.Textright{

  animation-name:Textright;
  animation-duration: 3s;
}



/*animation for camera*/

@keyframes keyleft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {

    transform: translateX(0);
    opacity: 1;
  }
}


/*  animation for text */
@keyframes Textright {
0%{
  transform: translateX(30px);
  opacity: 0;
}
100%{

  transform: translateX(0);
  opacity: 1;
}
}




h5{

  position: absolute;
  top:70%;
  right: 0;
  background: #1f1d1d;
  opacity: .5;
}

.active-item{

  color: orangered!important;
}










